{% extends 'home/base.html' %}

{% block title %}About{% endblock title %}

{% block header %}
        <div class="menu-btn">
            <span class="menu-btn__burger">
            </span>
        </div>
        <nav class="nav">
            <ul class="menu-nav">
                <li class="menu_nav_item">
                    <a href="/" class="menu_nav_link">Home</a>
                </li>
                <li class="menu_nav_item active">
                    <a href="/about" class="menu_nav_link">About Me</a>
                </li>
                <li class="menu_nav_item">
                    <a href="/projects" class="menu_nav_link">My Projects</a>
                </li>
                <li class="menu_nav_item">
                    <a href="/contact" class="menu_nav_link">Contact</a>
                </li>
            </ul>
        </nav>
{% endblock header %}

{% block content %}
        <section class="about">
            <div class="about_bio-image">
                <div class="overlay">
            
                </div>
                <h2 class="text-secondary">
                    BIO
                </h2>
                <div class="about_bio">
                    <p>
                        <span>
                            I caught 🔥 coding.
                        </span>
                        <span>
                            ᴄꜱᴇ ꜱᴏᴩʜᴏᴍᴏʀᴇ ᴀᴛ ɴɪᴛ ᴅᴜʀɢᴀᴩᴜʀ. 
                        </span>
                        <span>
                            3🌟Competetive Programmer (CODECHEF).
                        </span>

                        <span>
                            It's oddly satisfying. I think in a way I'm a kind of like those webpages; I'm moldable, but still try to keep my creative flare intact.
                        </span>
                    </p>
                </div>
            </div>
            <div class="jobs">
                <div class="jobs_job">
                    <h2 class="text-secondary">March 2021 -Current</h2>
                    <h3>Center for Cognitive Activities</h3>
                    <h6>Full Stack Developer</h6>
                    <p>CCA, Centre for Cognitive Activities, is the focal point where convergence of all technical and scientific endeavours of the students materialise. As the technical gymkhana of the institute, this club the gap between knowledge and application.</p>
                </div>
                <div class="jobs_job">
                    <h2 class="text-secondary">April 2021 -Current</h2>
                    <h3>Web Design Creative Team (WDCT)</h3>
                    <h6>Front-End Developer</h6>
                    <p>A congregation of enthusiastic techno-crats, we manage the technical aspects of the club, to keep it up and running in the cyber front. From designing websites for fests to organising workshops for amateurs, we nurture the creative spurt in the club.</p>
                </div>
                <div class="jobs_job">
                    <h2 class="text-secondary">December 2020 -Current</h2>
                    <h3>NIT Durgapur</h3>
                    <h6>Computer Science Sophomore</h6>
                    <p>Pursuing Bachelors of Technology in Computer Science and Engineering at one pf the premiered Institute of India, <b>National Institute Of Technology, Durgapur</b></p>
                </div>
            </div>
            <div class="social_icons">
                <a href="https://www.instagram.com/aryasah30/">
                    <i class="fa fa-instagram fa-2x"></i>
                </a>
                <a href="https://www.facebook.com/arya.sah.98892">
                    <i class="fa fa-facebook fa-2x"></i>
                </a>
                <a href="https://www.linkedin.com/in/arya-sah-5100121b3/">
                    <i class="fa fa-linkedin fa-2x"></i>
                </a>
                <a href="https://github.com/Aryasah/">
                    <i class="fa fa-github fa-2x"></i>
                </a>
            </div>
        </section>
{% endblock content %}