{% extends 'home/base.html' %}
{% load static %}

{% block title %}Projects{% endblock title %}

{% block header %}
        <div class="menu-btn">
            <span class="menu-btn__burger">
            </span>
        </div>
        <nav class="nav">
            <ul class="menu-nav">
                <li class="menu_nav_item">
                    <a href="/" class="menu_nav_link">Home</a>
                </li>
                <li class="menu_nav_item">
                    <a href="/about" class="menu_nav_link">About Me</a>
                </li>
                <li class="menu_nav_item active">
                    <a href="/projects" class="menu_nav_link">My Projects</a>
                </li>
                <li class="menu_nav_item">
                    <a href="/contact" class="menu_nav_link">Contact</a>
                </li>
            </ul>
        </nav>
{% endblock header %}

{% block content %}
        <section class="projects">
            <div class="projects_bio-image">
                <!-- <div class="overlay">
            
                </div> -->
                <h2 class="text-secondary">
                    My Projects
                </h2>
            </div>
            <div class="projects-items">
                <div class="projects_item">
                    <img src="{% static '/img/medicine.jpg' %}" alt="First Project">
                    <div class="projects_btns">
                        <a href="http://medaryasah.herokuapp.com/" class="projects_btn">
                            <i class="fa fa-eye"></i>
                            Preview
                        </a>
                        <a href="https://github.com/Aryasah/safermedicine" class="projects_btn">
                            <i class="fa fa-github"></i>
                            GitHub
                        </a>
                    </div>
                </div>
                <div class="projects_item">
                    <img src="{% static '/img/loopstudios.jpg' %}" alt="First Project">
                    <div class="projects_btns">
                        <a href="https://loopstudiosarya.netlify.app" class="projects_btn">
                            <i class="fa fa-eye"></i>
                            Preview
                        </a>
                        <a href="https://github.com/Aryasah/LoopStudios" class="projects_btn">
                            <i class="fa fa-github"></i>
                            GitHub
                        </a>
                    </div>
                </div>
                <div class="projects_item">
                    <img src="{% static '/img/incredible.jpg' %}" alt="First Project">
                    <div class="projects_btns">
                        <a href="https://aryasah17.herokuapp.com/" class="projects_btn">
                            <i class="fa fa-eye"></i>
                            Preview
                        </a>
                        <a href="https://github.com/Aryasah/incredible-india" class="projects_btn">
                            <i class="fa fa-github"></i>
                            GitHub
                        </a>
                    </div>
                </div>
                <div class="projects_item">
                    <img src="{% static '/img/chat.jpg' %}" alt="First Project">
                    <div class="projects_btns">
                        <a href="https://chatwitharya.netlify.app/" class="projects_btn">
                            <i class="fa fa-eye"></i>
                            Preview
                        </a>
                        <a href="https://github.com/Aryasah/chatapp-pro" class="projects_btn">
                            <i class="fa fa-github"></i>
                            GitHub
                        </a>
                    </div>
                </div>
                <div class="projects_item">
                    <img src="{% static '/img/linkedin.jpg' %}" alt="First Project">
                    <div class="projects_btns">
                        <a href="https://linkedin-yt-85935.web.app/" class="projects_btn">
                            <i class="fa fa-eye"></i>
                            Preview
                        </a>
                        <a href="https://github.com/Aryasah/Linkedin" class="projects_btn">
                            <i class="fa fa-github"></i>
                            GitHub
                        </a>
                    </div>
                </div>
                <div class="projects_item">
                    <img src="{% static '/img/techarya.jpg' %}" alt="First Project">
                    <div class="projects_btns">
                        <a href="https://techaryasah.herokuapp.com/" class="projects_btn">
                            <i class="fa fa-eye"></i>
                            Preview
                        </a>
                        <a href="https://github.com/Aryasah/Techparticle" class="projects_btn">
                            <i class="fa fa-github"></i>
                            GitHub
                        </a>
                    </div>
                </div>
                <div class="projects_item">
                    <img src="{% static '/img/tesla.jpg' %}" alt="First Project">
                    <div class="projects_btns">
                        <a href="https://teslac17.netlify.app/" class="projects_btn">
                            <i class="fa fa-eye"></i>
                            Preview
                        </a>
                        <a href="https://github.com/Aryasah/Tesla" class="projects_btn">
                            <i class="fa fa-github"></i>
                            GitHub
                        </a>
                    </div>
                </div>
                <div class="projects_item">
                    <img src="{% static '/img/map.jpg' %}" alt="First Project">
                    <div class="projects_btns">
                        <a href="https://aryasah89.web.app/" class="projects_btn">
                            <i class="fa fa-eye"></i>
                            Preview
                        </a>
                        <a href="https://github.com/Aryasah/personal-map" class="projects_btn">
                            <i class="fa fa-github"></i>
                            GitHub
                        </a>
                    </div>
                </div>
            </div>
            <div class="social_icons">
                <a href="https://www.instagram.com/aryasah30/">
                    <i class="fa fa-instagram fa-2x"></i>
                </a>
                <a href="https://www.facebook.com/arya.sah.98892">
                    <i class="fa fa-facebook fa-2x"></i>
                </a>
                <a href="https://www.linkedin.com/in/arya-sah-5100121b3/">
                    <i class="fa fa-linkedin fa-2x"></i>
                </a>
                <a href="https://github.com/Aryasah/">
                    <i class="fa fa-github fa-2x"></i>
                </a>
            </div>
        </section>
{% endblock content %}